<h2 mat-dialog-title>Reporte de Mascota Perdida</h2>

<mat-dialog-content>
  <div class="modal-container">
    <form>
      <div class="lost-pet-modal-container">
        <!-- Subir Imagen -->
        <div class="image-upload">
          <img *ngIf="selectedImage" [src]="selectedImage" alt="Imagen de la mascota" class="pet-image">
          <input type="file" (change)="onImageSelected($event)" accept="image/*" id="fileInput" hidden>
          <button mat-raised-button color="primary" (click)="triggerFileInput()">Subir Imagen</button>
        </div>

        <!-- Información de la mascota -->
        <div class="pet-info">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nombre de la Mascota</mat-label>
            <input matInput placeholder="Nombre" [(ngModel)]="petName" name="petName">
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Descripción</mat-label>
            <textarea matInput placeholder="Descripción de la mascota" rows="4" [(ngModel)]="description" name="description"></textarea>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="!petName || !description || !selectedImage" (click)="submit()">Guardar</button>
</mat-dialog-actions>
