<div class="login-container">
  <h2>Iniciar Sesión</h2>
  <form (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Nombre de Usuario</mat-label>
      <input matInput [(ngModel)]="username" name="username" placeholder="Ingresa tu nombre de usuario" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Contraseña</mat-label>
      <input matInput [(ngModel)]="password" name="password" type="password" placeholder="Ingresa tu contraseña" required />
    </mat-form-field>

    <button mat-raised-button color="primary" class="login-button" type="submit">Iniciar Sesión</button>
    <button mat-raised-button class="register-button" (click)="navigateToRegister()">Registrarse</button>
  </form>
</div>
