<div class="component-container">
  <div class="lost-pets-container">
    <h1>Lista de Mascotas Perdidas</h1>
    <button (click)="generatePDFWithLast30Days()">Descargar PDF</button>
    <table id="lostPetsTable">
      <thead>
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Fecha de Pérdida</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let pet of lostPets">
        <td><img [src]="pet.image" alt="{{pet.name}}" width="100"></td>
        <td>{{ pet.name }}</td>
        <td>{{ pet.petDescription }}</td>
        <td>{{ pet.reportedAt | date:'yyyy-MM-dd' }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
