<div class="profile-container" *ngIf="userProfile">
  <mat-card class="profile-card">
    <mat-card-header>
      <div class="profile-info">
        <img
          src="profilewhite.png"
          alt="Avatar"
          class="profile-avatar"
        />
        <div class="profile-details">
          <h6>Usuario: {{ userProfile.username }}</h6>
          <h6>{{ userProfile.name + " " + userProfile.lastname }}</h6>
          <p>Email: {{ userProfile.email }}</p>
          <p>Teléfono: {{ userProfile.phone }}</p> <!-- Usar el operador ?. -->
          <p>Role: {{ roleName }}</p> <!-- Usar el operador ?. -->
        </div>
      </div>
    </mat-card-header>
    <mat-card-content>

    </mat-card-content>
      <button mat-button color="primary">Editar</button>
  </mat-card>
</div>
