<div style="text-align: center; padding: 16px;">
  <h3>{{ title }}</h3>
  <p>{{ description }}</p>
  <div class="button-container">
    <button mat-raised-button color="warn" class="marker-option" data-option="1">
      <mat-icon>pets</mat-icon>
      Mascota Perdida
    </button>
    <button mat-raised-button color="primary" class="marker-option" data-option="2">
      <mat-icon>check_circle</mat-icon>
      Mascota Encontrada
    </button>
    <button mat-raised-button color="accent" class="marker-option" data-option="3">
      <mat-icon>place</mat-icon>
      Punto de Interes
    </button>
  </div>
</div>
